/* 공통 시작 */
body,html{
  height:100%;
}
.hidden{
  width:1px; height:1px; font-size:0px; line-height:0px; position:absolute;
}
a{
  text-decoration:none; color:white;
}
img{
  width:100%;
}
input{
  box-sizing:border-box;
  border:1px solid #ccc;
}
.fl{
  float:left;
}
.fr{
  float:right; text-align:right;
}
.yellow{
  color:#efc159;
}
.page_title{
  width:100%; height:44px; margin:80px 0px 44px; text-align:center; font:bold 36px "Book Antiqua";
}
/* 공통 끝*/
/* 스킵네비게이션 시작 */
ul#skip_nav li a{
  width:1px; height:1px; font-size:0px; line-height:0px; position:absolute;
}
ul#skip_nav li a:focus{
  width:100%; height:30px; font:normal 14px/30px "Noto Sans KR"; text-decoration:none; text-align:center; background:#111; color:#ccc; z-index:9999; top:0px;
}
/* 스킵네비게이션 끝 */
/* 헤더 시작 */
header#header_wrap{
  width:100%; height:66px; float:left; background:black; position:fixed; left:0px; top:0px; z-index:99;
}
div#header_inner{
  width:1200px; height:100%; margin:0px auto; position:relative; left:0px; top:0px;
}
h1#logo{
  width:175px; height:25px; position:absolute; left:0px; top:50%; margin-top:-12px;
}
h1#logo a{
  display:block; width:100%; height:100%;
}
h1#logo a img{
  width:100%;
}
nav#mainmenu{
  width:70%; height:100%; position:absolute; right:0px; top:0px;
}
ul#mainmenu_list{
  width:100%; height:100%;
}
ul#mainmenu_list li{
  width:25%; height:100%; float:left; text-align:center;
}
ul#mainmenu_list li a{
  text-decoration:none; color:white; font:bold 18px/80px "Book Antiqua"; transition:0.2s ease;
}
ul#mainmenu_list li a.selected{
  color:#efc159;
}
ul#mainmenu_list li a:hover{
  color:#efc159;
}
.h_icon{
 font-size:27px; line-height:66px; text-align:center;
}
div.menu_icon{
  width:66px; height:66px; position:absolute; right:0.3%; top:0px; z-index:3;
}
div.menu_icon a{
  width:100%; height:100%;
}
/* open menu */
nav#open_menu{
  display:none; width:100%; height:940px; position:fixed; background:#111; z-index:2; margin-top:-66px;
}
div.menu_inner{
  width:1200px; height:100%; margin:0px auto; padding-top:106px;
}
div.menu_left{
  width:61.75%; height:100%; float:left;
}
ul.menu_list{
  width:370px; height:370px;
}
ul.menu_list li{
  width:100%; height:33.33%; float:left;
}
ul.menu_list li a{
  font:bold 96px "Book Antiqua"; color:#bbb; transition:0.2s ease;
}
ul.menu_list li a.selected{
  color:#eee; padding-left:40px;
}
ul.menu_list li a.selected span{
  color:#efc159;
} 
div.menubg_area{
  width:90%; height:200px; float:left; margin-top:30px; position:relative; left:0px; top:0px;
}
ul.sns_list{
  width:100%; height:200px; float:left; margin-top:30px;
}
ul.sns_list li{
  width:25%; height:36px; float:left;
}
ul.sns_list li a{
  font:normal 24px/36px "Book Antiqua"; color:#eee; transition:0.1s ease;
}
ul.sns_list li:nth-child(1):hover a{
  color:#3b5998;
}
ul.sns_list li:nth-child(2):hover a{
  color:#fbad50;
}
ul.sns_list li:nth-child(3):hover a{
  color:#38A1F3;
}
ul.sns_list li:nth-child(4):hover a{
  color:#FF0000;
}
div.menu_right{
  width:38.25%; height:100%; float:left;
}
div.favorit_wrap{
  width:100%; height:236px; float:left; position:relative; left:0px; top:0px;
}
p.menu_title{
  width:100%; height:36px; font:bold 24px/36px "Book Antiqua"; color:#eee;
}
ul.favorit_list{
  width:100%; height:200px; position:absolute; left:0px; top:66px;
}
ul.favorit_list li{
  width:100px; height:100px; float:left; margin-right:10px; border-radius:200px; position:relative; left:0px; top:0px;
}
ul.favorit_list li:last-child{
  margin-right:0px;
}
ul.favorit_list li a{
  display:block; width:100%; height:100%; position:relative; left:0px; top:0px;
}
@keyframes rotate {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(3600deg);
      transform: rotate(360deg)
  }
}
ul.favorit_list li:nth-child(1) a::after{
  content:"";
  display:block; width:100px; height:100px; position:absolute; left:0px; top:0px; border-radius:200px; z-index:-1;
  background:#d6249f;
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  animation:rotate 3s linear infinite;
}
ul.favorit_list li a::after{
  content:"";
  display:block; width:100px; height:100px; position:absolute; left:0px; top:0px; border-radius:200px; z-index:-1;
  background:#222;
}
ul.favorit_list li a img{
  width:90%; height:90%; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);
}
div.customer_wrap{
  width:100%; height:500px; float:left;
}
ul.customer_list{
  width:100%; height:100%; margin-top:20px;
}
ul.customer_list li{
  width:100%; height:36px; float:left; margin-top:10px;
}
ul.customer_list li a{
  font:normal 24px/36px "Book Antiqua"; color:#eee;
}
ul.customer_list li:hover a{
  color:#efc159;
}
ul.customer_list li a i{
  transform:rotate(90deg); opacity:1; position:relative; left:-20px; top:0px; transition:0.3s ease; 
}
ul.customer_list li:hover a i{
  left:-5px; opacity:1; color:#eee;
}
div.search_icon{
  width:66px; height:66px; position:absolute; left:0.3%; top:0px; z-index:1;
}
div.search_icon a{
  width:100%; height:100%;
}
div.search_openbox{
  width:0px; height:100%; position:absolute; left:0%; top:0px; background:#111; display:none;
}
div.search_openbox input{
  width:60%; height:50%; position:absolute; left:50%; margin-left:-30%; top:50%; transform:translateY(-50%);
  outline:none; border:none; border-bottom:solid 1px white; box-sizing:border-box;
  background-color:transparent; color:white; font:normal 16px/52px "Noto Sans KR";
}
div.search_openbox button{
  border:none; width:30px; height:50%; position:absolute; left:80%; top:0px;
  background-color:transparent;
  outline:none; text-align:center; 
}
div.search_openbox button i{
  font-size:24px; line-height:66px; color:#ccc;
}
/* 헤더 끝 */
/* 비주얼 시작 */
section#visual_wrap{
  width:100%; overflow:hidden; float:left; position:relative; left:0px; top:0px;
}
div#vid_wrap{
  width:100%; padding-bottom:56.25%; position:relative; left:0px; top:0px;
}
video#main_vid{
  width:100%; height:100%; position:absolute; left:0px; top:0px; background:black;
}
div#vis_text_wrap{
  width:300px; height:70%; position:absolute; left:65%; top:20%; 
}
p.vis_title{
  width:250px; height:300px; font:bold 80px/90px "Noto Sans KR"; color:white; position:absolute; left:-20%; top:0px; opacity:0;
}
p.vis_text{
  width:300px; font:normal 18px/27px "Noto Sans KR"; color:white; text-align:right;
}
p.t1{
  position:absolute; left:50%; top:60%; opacity:0;
}
p.t2{
  position:absolute; left:-50%; top:70%; opacity:0;
}
p.t3{
  position:absolute; left:50%; top:80%; opacity:0;
}
p.t1::after{
  content:""; width:100%; height:1px; position:absolute; left:0px; bottom:-5px; background:#999;
}
p.t2::after{
  content:""; width:100%; height:1px; position:absolute; left:0px; bottom:-5px; background:#999;
}
p.t3::after{
  content:""; width:100%; height:1px; position:absolute; left:0px; bottom:-5px; background:#999;
}
/* 비주얼 끝 */
/* 컨텐츠 시작 */
/* 브랜드 */
section#brand_wrap{
  width:100%; height:2800px; float:left; position:relative; left:0px; top:0px; background:white;
}
/* 브랜드메뉴 */
aside.aside_menu{
  width:18.75%; height:100%; position:absolute; left:0px; top:0px; margin-right:6%;
}
p.aside_title{
  margin:80px 0px;; font:normal 72px "Book Antiqua"; text-align:right; color:#121212; position:relative; left:0px; top:0px;
}
p.aside_title::after{
  content:"";
  width:80%; height:3px; background:#121212; border-radius:200px; position:absolute; right:0px; bottom:0px; 
}
ul.aside_menu_list{
  width:100%; height:600px;
}
ul.aside_menu_list li{
  width:80%; height:50px; float:right; text-align:center;
}
ul.aside_menu_list li a{
  font:normal 36px "Book Antiqua"; color:#ccc;
}
ul.aside_menu_list li a.selected{
  color:#121212;
}
/* 브랜드본문 */
section.brand_body{
  width:1000px; height:100%; position:absolute; left:24.75%; top:0px;
}
section.brand_story{
  width:100%; float:left;
}
ul.story_list{
  width:100%;
}
ul.story_list li{
  width:100%; height:300px; float:left; margin-top:60px; opacity:0; position:relative; left:0px; top:200px;
}
ul.story_list li p.story_img.fl{
  padding-right:3.33%;
}
ul.story_list li p.story_img.fr{
  padding-left:3.33%; 
}
ul.story_list li p.story_title.fl::after{
  content:"";
  width:105%; height:3px; position:absolute; left:-5%; bottom:-10px; background:#b3aa9f;
}
ul.story_list li p.story_title.fr::after{
  content:"";
  width:105%; height:3px; position:absolute; right:-5%; bottom:-10px; background:#b3aa9f;
}
p.story_img{
  width:30%; box-sizing:border-box;
}
p.story_title{
  width:60%; margin:20px 0px; position:relative; left:0px; top:0px; font:bold 27px "Noto Sans KR"; color:#950202;
}
p.story_text{
  width:60%; font:normal 18px/24px "Noto Sans KR"; text-align:justify;
}
section.brand_identity{
  width:100%; float:left; position:relative; left:50px; top:0px; opacity:0;
}
p.logotext{
  font:normal 18px "Noto Sans KR"; text-align:center;
}
p.logo_img{
  width:100%; margin-top:20px; padding:100px 0px; background:#434343; text-align:center;
}
p.logo_img img{
  width:50%;
}
ul.color_list{
  width:100%; float:left;
}
ul.color_list li{
  width:50%; float:left; margin-top:60px;
}
p.color_bg{
  width:138px; height:138px; float:left; border-radius:200px; margin:20px;
}
p.basis_c{
  background:#434343;
}
p.point_c{
  background:#efc159;
}
p.bg_c{
  background:#000;
}
p.bg2_c{
  background:#fff; border:1px solid black; box-sizing:border-box;
}
p.color_title{
  margin-top:20px; font:bold 24px/30px "Roboto";
}
p.color_text{
  font:normal 24px/30px "Roboto"; color:#434343;
}
div#scroll_icon{
  width:50px; height:100px; position:absolute; left:50%; margin-left:-25px; bottom:50px; ;background:url("../images/scroll_icon.gif")no-repeat;
}
#parallax_wrap{
  width:400px; height:714px; overflow:hidden; float:right; position:relative; right:0px; top:0px;
}
.parallax_top{
  width:400px; height:129px; position:absolute; right:0px; top:250px; background:url("../images/bg_top.png")no-repeat center/cover; z-index:3;
}
.parallax_water{
  width:400px; height:0px; position:absolute; right:0px; top:367px; background:url("../images/bg_water.png")no-repeat center/cover; z-index:6; -webkit-transition:0.3s ease;
}
.water_selected{
  height:50px;
}
.parallax_bottom{
  width:400px; height:327px; position:absolute; right:0px; top:387px; background:url("../images/bg_bottom.png")no-repeat center/cover; z-index:5;
}
.parallax_drop{
  width:400px; height:0px; position:absolute; right:0px; top:568px; background:url("../images/bg_drop.png")no-repeat center/cover; -webkit-transition:0.3s ease;
}
.drop_selected{
  height:145px;
}
.parallax_coffee{
  width:400px; height:196px; position:absolute; right:0px; top:880px; background:url("../images/bg_coffee.png")no-repeat center/cover;
}
/* 가이드 */
section#guide_wrap{
  width:100%; height:940px; float:left; position:relative; left:0px; top:0px; background:black; z-index:10;
}
/* 가이드메뉴 */
aside.guide_menu{
  width:18.75%; height:100%; position:absolute; left:0px; top:0px; margin-right:6%;
}
p.guide_title{
  margin:80px 0px;; font:normal 72px "Book Antiqua"; text-align:right; color:#ccc; position:relative; left:0px; top:0px;
}
p.guide_title::after{
  content:"";
  width:80%; height:3px; background:#ccc; border-radius:200px; position:absolute; right:0px; bottom:0px; 
}
ul.guide_menu_list{
  width:100%; height:600px;
}
ul.guide_menu_list li{
  width:80%; height:50px; float:right; text-align:center;
}
ul.guide_menu_list li a{
  font:normal 36px "Book Antiqua"; color:#aaa; transition:0.1s ease;
}
ul.guide_menu_list li a.selected{
  color:white;
}
/* 가이드본문 */
section.guide_body{
  width:75.25%; height:940px; position:absolute; right:0px; top:0px; overflow:hidden;
}
div.guide_vids{
  width:100%; height:100%; position:absolute; left:0px; top:0px;
}
ul.guide_list{
  width:100%; height:30%; margin-top:2.5%; float:left;
}
ul.guide_list li{
  width:100%; height:100%; float:left; position:relative; left:0px; top:0px;
}
ul.subguide_list{
  width:166.66%; height:100%; 
}
ul.subguide_list li{
  width:19%; height:100%; float:left; margin-right:1%; line-height:33.33%;
}
ul.subguide_list li.selected{
  position:relative; left:0px; top:0px; z-index:9; transform:scale(1.1);
}
ul.subguide_list li a{
  width:100%; height:100%; transition:1s ease;
  display:flex;
  justify-content:center;
  align-items:center;
}
ul.subguide_list li a img{
  vertical-align: middle;
}
div.guide_vid_wrap{
  width:100%; position:relative; left:0px; top:0px; padding-bottom:56.25%;
}
div.guide_vid_wrap embed{
  width:100%; height:100%; position:absolute; left:0px; top:0px;
}
div#guide_bg{
  width:100%; height:100%; position:absolute; right:0px; top:0px; background:rgba(0,0,0,0.95);
}
div.guide_btn{
  width:100px; height:100px; background:transparent;
}
div.guide_btn a{
  width:100%; height:100%; display:flex; justify-content:center; align-items:center; transition:0.2s ease; z-index:100;
}
div.guide_btn a i{
  font-size:100px; color:rgb(64, 64, 64);
}
div.guide_btn a:hover i{
  color:#ccc;
}
div.up_btn{
  position:absolute; left:50%; margin-left:-50px; top:25%;
}
div.down_btn{
  position:absolute; left:50%; margin-left:-50px; bottom:25%;
}
div.left_btn{
  position:absolute; left:23.5%; top:50%; margin-top:-50px; 
}
div.right_btn{
  position:absolute; right:25%; top:50%; margin-top:-50px;
}
/* 스토어  */
section#store_wrap{
  width:100%; height:940px; float:left; position:relative; left:0px; top:0px;
}
/* aside는 공통 */
/* 가이드 본문 */
section.store_body{
  width:75.25%; height:100%; position:absolute; right:0px; top:0px;
}
div#drag_icon{
  width:100px; height:100px; position:absolute; left:50%; margin-left:50px; bottom:10%; background:url("../images/drag_icon.gif")no-repeat;
}
div#store_pop_wrap{
  display:none; width:100%; height:100px; position:fixed; left:0px; bottom:-150px; background:#222; z-index:99;
}
div.store_pop_contents{
  width:350px; height:100%; margin:0px auto; position:relative; left:0px; top:0px;
}
p.store_pop_img{
  width:100px; float:left; position:absolute; bottom:0px;
}
p.store_pop_title{
 width:250px; height:50%; position:absolute; right:0px; top:0px; color:#eee; font:bold 18px/70px "Roboto";
}
p.store_pop_text{
  width:250px; height:50%; position:absolute; right:0px; top:50%; color:#ccc; font:normal 16px "Roboto";
}
div#pop_close_btn{
  width:20px; height:20px; position:absolute; right:-50px; top:10%; color:#ccc;
}
div#product_container{
  width:500px; height:500px;
}
ul.product_list{
  width:100%; height:100%;
}
ul.product_list li{
  float:left;
}
/* all product */
section.all_product_wrap{
  width:100%; height:466px; float:left;
}
ul.all_product_list{
  width:90%; float:right; margin:0px auto;
}
ul.all_product_list li{
  width:200px; height:275px; float:left;
}
p.beans_img{
  width:200px; height:200px; float:left; background:url("./images/wholebean.png")no-repeat center / cover;
}
p.product_title{
  width:200px; height:50px; float:left; color:black;
}
p.dripbag1_img{
  width:200px; height:200px; float:left; background:url("./images/dripbag00.png")no-repeat center / cover;
}
p.dripbag2_img{
  width:200px; height:200px; float:left; background:url("./images/dripbag01.png")no-repeat center / cover;
}
p.product_title a{
  display:block; width:100%; height:100%; color:black; font:normal 14px/25px "Noto Sans KR"; text-align:center;
}
p.product_text{
  width:200px; height:25px; margin-top:10px; float:left; color:black;
}
p.product_text a{
  display:block; width:100%; height:100%; color:black; font:bold 14px/25px "Noto Sans KR"; text-align:center;
}
/* 커뮤니티 */
section#community_wrap{
  width:100%; min-height:940px; float:left; margin-bottom:200px; background:white; position:relative; left:0px; top:0px; border-top:solid 1px #eee; box-sizing:border-box;
}
section.community_body{
  width:75.25%; min-height:940px; position:absolute; right:0px; top:0px;
}
div.news_box_wrap{
  width:80%; height:468px; overflow:hidden; margin:0 auto;
}
ul.news_box{
  width:125%; height:280px; border-top:3px solid #efc159; border-bottom:3px solid #efc159; box-sizing:border-box; position:relative; left:0px; top:0px;
}
ul.news_box li{
  width:16.667%; height:100%; float:left;
}
ul.news_box li:last-child{
  margin-right:0px;
}
p.news_box_img{
  width:250px; height:200px; margin:0px auto; padding:20px 20px; box-sizing:border-box;
}
p.news_box_img img{
  width:100%;
}
p.news_box_text{
  width:250px; height:100px; margin:0px auto; font:normal 14px/21px "Noto Sans KR"; color:black;  padding:0 20px; box-sizing:border-box;
}
div.board_search_box{
  width:80%; height:40px; margin:0px auto;
}
form#search_form{
  width:270px; height:20px; float:right;
}
input.search_input{
  width:200px; height:25px; outline:none;
}
input.search_btn{
  width:50px; height:25px; position:relative; left:0px; top:1px;
}
table.notice_board{
  width:80%; margin:0px auto; border-spacing:0px; border-collapse:collapse;
}
table.notice_board tr{
  height:40px;
}
table.notice_board th{
  height:40px; font:normal 14px/40px "Noto Sans KR"; text-align:center; border-bottom:1px solid #ccc; color:#383838;
}
table.notice_board thead th{
  font-weight:bold; text-align:center; background:#efc159;
}
table.notice_board td{
  height:40px; font:normal 14px/40px "Noto Sans KR"; text-align:center; border-bottom:1px solid #ccc; color:#383838;
}
table.notice_board td a{
  color:#383838; font:normal 14px/40px "Noto Sans KR";
}
.board_num{
  width:10%; 
}
.board_title{
  width:60%; text-indent:20px; text-align:left !important; 
}
.board_name{
  width:10%;
}
.board_count{
  width:10%;
}
.board_date{
  width:10%; border-right:0px;
}
div#page_btn{
  width:100%; height:20px; float:left; margin-top:40px;
}
ul.page_btn{
  width:45px; height:100%; margin:0 auto; 
}
ul.page_btn li{
  width:10px; float:left; margin-right:5px; text-align:center;
}
ul.page_btn li a{
  color:#383838; font-size:14px;
}
ul.page_btn li:last-child{
  margin-right:0px;
}
div.preparing{
  width:786px; height:467px; margin:168px 200px; background:url("../images/preparing_bg00.jpg"); background-size:cover;
}
.preparing_text{
  width:100%; height:100px; padding-top:100px; color:white; font:bold 24px/36px "Noto Sans KR"; text-align:center;
}
/* 컨텐츠 끝 */
/* 푸터 시작 */
footer#footer_wrap{
  width:100%; height:200px; float:left; background:black; opacity:0.9; transition:0.3s ease;
}
footer#footer_wrap:hover{
  opacity:1
}
div.footer_inner{
  width:1200px; height:100%; margin:0px auto;
}
section.footer_inner_top{
  width:100%; height:140px; float:left;
}
ul.footer_list{
  width:100%; height:100%;
}
ul.footer_list>li{
  width:25%; height:80%; float:left; margin-top:15px; font:bold 18px/27px "Sans Serif"; color:#eee; padding-left:15px; box-sizing:border-box;
}
ul.footer_sublist{
  width:100%; height:100%; margin-top:5px;
}
ul.footer_sublist li{
  width:100%; height:22%;
}
ul.footer_sublist li a{
  font:normal 14px/21px "Roboto"; color:#ccc;
}
ul.footer_sns_list{
  width:100%; height:100%; margin-top:15px;
}
ul.footer_sns_list li{
  width:35px; height:35px; float:left; margin-right:10px; border-radius:30px; background:#eee; text-align:center;
}
ul.footer_sns_list li a{
  display:block; width:100%; height:100%;
}
ul.footer_sns_list li i{
  font-size:24px; line-height:35px; color:black;
}
section.footer_inner_bottom{
  width:100%; height:60px; float:left;
}
p.footer_copy{
  width:74.5%; height:100%; float:left; margin-right:2%; color:#bbb; font:normal 14px/60px "Roboto"; text-indent:15px;
}
p.footer_logo{
  width:23.5%; height:100%; float:left;
}
p.footer_logo img{
  width:175px; height:27px; line-height:60px;
}
/* 푸터 끝 */